@use "./functions";
@use "./extensions";

@mixin set-bg($opacity: 1, $percent: 50, $darken: false) {

    @if $darken == true {
        background-color: rgba(
            $color: #000, 
            $alpha: functions.calculate-opacity($opacity, $percent)
        )
    }

    @extend %bg;

}


